**Arithmetic with R**

In [8]:
1 + 2 # Addition

[1] 3

In [9]:
1 - 2 # Subtraction

[1] -1

In [10]:
1 / 2 # Division

[1] 0.5

In [11]:
2 ^ 2 # exponent same as pow(2, 2)

[1] 4

In [15]:
5 %% 2 # modulus to getting tha remaining part of 5

[1] 1

In [22]:
2 + 6 * 5 # Here according to precedence (2 + (6 * 5)) * > +

[1] 32

In [24]:
(2 + 6) * 5 # Precedence can be change by using parenthesis, best practice is to use brackets explicity .

[1] 40

**Comparison Operators**

In [25]:
5 > 6 # greater than

[1] FALSE

In [26]:
6 > 5

[1] TRUE

In [27]:
# Element by element comparision
v1 <- c(1, 2, 3)
v2 <- c(10, 20, 30)

In [28]:
v1 < v2

[1] TRUE TRUE TRUE

In [29]:
# greater than or equal to
6 >= 6

[1] TRUE

In [30]:
6 >= 5

[1] TRUE

In [31]:
# less than or less than equal to
3 < 2

[1] FALSE

In [32]:
2 <= 2

[1] TRUE

In [34]:
# a dangerous situation
var <- 1

In [35]:
var

[1] 1

In [36]:
# Comparing less than negative 2
var < -2

[1] FALSE

In [37]:
# Accidently reassigning var
var <- 2

In [38]:
var

[1] 2

In [39]:
# not Equal 
5 != 2

[1] TRUE

In [40]:
5 != 5

[1] FALSE

In [41]:
# Equal
5 == 5

[1] TRUE

In [42]:
2 == 3

[1] FALSE

In [44]:
# Vector comparisions
v <- c(1, 2, 3, 4, 5)

In [45]:
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [46]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

**Variables**

In [47]:
variable.name <- 100

In [48]:
variable.name

[1] 100

In [49]:
bank.account <- 100

In [50]:
deposit <- 10

In [51]:
bank.account <- bank.account + deposit

In [52]:
bank.account

[1] 110

**R Data Types**

In [53]:
n <- 2.2

In [54]:
i <- 5

In [55]:
t <- TRUE
f <- FALSE

In [56]:
char <- 'Hello World'

In [57]:
c <- 'Single Quote Char'

In [58]:
print(class(n))
print(class(i))
print(class(t))
print(class(char))
print(class(c))

[1] "numeric"
[1] "numeric"
[1] "logical"
[1] "character"
[1] "character"

**Vector Basics**

In [59]:
nvec <- c(1, 2, 3, 4, 5)
print(nvec)
print(class(nvec))

[1] 1 2 3 4 5
[1] "numeric"

In [60]:
cvec <- c('U', 'S', 'A')
print(cvec)
print(class(cvec))

[1] "U" "S" "A"
[1] "character"

In [61]:
lvec <- c(TRUE, FALSE)
print(lvec)
print(class(lvec))

[1]  TRUE FALSE
[1] "logical"

**Note that we can't mix data types of the elements in an array, R will convert the other elements in the array to force everything to be of the same data type.**

In [62]:
v <- c(FALSE, 2)
print(v)
print(class(v))

[1] 0 2
[1] "numeric"

In [63]:
v <- c('A', 1)
print(v)
print(class(v))

[1] "A" "1"
[1] "character"

**Vector Names**

**We can use the names() function to assign names to each element in our vector. 
For example, imagine the folowing vector of a week of temperatures.
We know we have 7 temperatures for 7 weekdays, but which temperature corresponds to which weekday? 
Does it start on Monday, Sunday, or another day of the week? This is where names() can be assigned in the following manner.**

In [64]:
temps <- c(72, 71, 68, 73, 69, 75, 71)
print(temps)

[1] 72 71 68 73 69 75 71

In [65]:
names(temps) <- c('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [71]:
print(temps)
print(temps[c('Mon', 'Sun')])

Mon Tue Wed Thu Fri Sat Sun
 72  71  68  73  69  75  71
Mon Sun
 72  71

**Working with Vectors**

In [72]:
v1 <- c(1, 2, 3)
v2 <- c(5, 6, 7)
print(v1)
print(v2)

[1] 1 2 3
[1] 5 6 7

In [73]:
# Adding vectors
print(v1 + v2)
print(v2 + v1)

[1]  6  8 10
[1]  6  8 10

In [74]:
# Subtracting Vectors
print(v1 - v1)
print(v1 - v2)
print(v2 - v1)

[1] 0 0 0
[1] -4 -4 -4
[1] 4 4 4

In [75]:
# multiplying Vectors
v1 * v2

[1]  5 12 21

In [77]:
# Dividing Vectors
print(v1 / v2)
print(v2 / v1)

[1] 0.2000000 0.3333333 0.4285714
[1] 5.000000 3.000000 2.333333