**Arithmetic with R**

In [67]:
1 + 2 # Addition

[1] 3

In [68]:
1 - 2 # Subtraction

[1] -1

In [69]:
1 / 2 # Division

[1] 0.5

In [70]:
2 ^ 2 # exponent same as pow(2, 2)

[1] 4

In [71]:
5 %% 2 # modulus to getting tha remaining part of 5

[1] 1

In [72]:
2 + 6 * 5 # Here according to precedence (2 + (6 * 5)) * > +

[1] 32

In [73]:
(2 + 6) * 5 # Precedence can be change by using parenthesis, best practice is to use brackets explicity .

[1] 40

**Comparison Operators**

In [74]:
5 > 6 # greater than

[1] FALSE

In [75]:
6 > 5

[1] TRUE

In [76]:
# Element by element comparision
v1 <- c(1, 2, 3)
v2 <- c(10, 20, 30)

In [77]:
v1 < v2

[1] TRUE TRUE TRUE

In [78]:
# greater than or equal to
6 >= 6

[1] TRUE

In [79]:
6 >= 5

[1] TRUE

In [80]:
# less than or less than equal to
3 < 2

[1] FALSE

In [81]:
2 <= 2

[1] TRUE

In [82]:
# a dangerous situation
var <- 1

In [83]:
var

[1] 1

In [84]:
# Comparing less than negative 2
var < -2

[1] FALSE

In [85]:
# Accidently reassigning var
var <- 2

In [86]:
var

[1] 2

In [87]:
# not Equal 
5 != 2

[1] TRUE

In [88]:
5 != 5

[1] FALSE

In [89]:
# Equal
5 == 5

[1] TRUE

In [90]:
2 == 3

[1] FALSE

In [91]:
# Vector comparisions
v <- c(1, 2, 3, 4, 5)

In [92]:
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [93]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

**Variables**

In [94]:
variable.name <- 100

In [95]:
variable.name

[1] 100

In [96]:
bank.account <- 100

In [97]:
deposit <- 10

In [98]:
bank.account <- bank.account + deposit

In [99]:
bank.account

[1] 110

**R Data Types**

In [100]:
n <- 2.2

In [101]:
i <- 5

In [102]:
t <- TRUE
f <- FALSE

In [103]:
char <- 'Hello World'

In [104]:
c <- 'Single Quote Char'

In [105]:
print(class(n))
print(class(i))
print(class(t))
print(class(char))
print(class(c))

[1] "numeric"
[1] "numeric"
[1] "logical"
[1] "character"
[1] "character"

**Vector Basics**

In [106]:
nvec <- c(1, 2, 3, 4, 5)
print(nvec)
print(class(nvec))

[1] 1 2 3 4 5
[1] "numeric"

In [107]:
cvec <- c('U', 'S', 'A')
print(cvec)
print(class(cvec))

[1] "U" "S" "A"
[1] "character"

In [108]:
lvec <- c(TRUE, FALSE)
print(lvec)
print(class(lvec))

[1]  TRUE FALSE
[1] "logical"

**Note that we can't mix data types of the elements in an array, R will convert the other elements in the array to force everything to be of the same data type.**

In [109]:
v <- c(FALSE, 2)
print(v)
print(class(v))

[1] 0 2
[1] "numeric"

In [110]:
v <- c('A', 1)
print(v)
print(class(v))

[1] "A" "1"
[1] "character"

**Vector Names**

**We can use the names() function to assign names to each element in our vector. 
For example, imagine the folowing vector of a week of temperatures.
We know we have 7 temperatures for 7 weekdays, but which temperature corresponds to which weekday? 
Does it start on Monday, Sunday, or another day of the week? This is where names() can be assigned in the following manner.**

In [111]:
temps <- c(72, 71, 68, 73, 69, 75, 71)
print(temps)

[1] 72 71 68 73 69 75 71

In [112]:
names(temps) <- c('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')

In [113]:
print(temps)
print(temps[c('Mon', 'Sun')])

Mon Tue Wed Thu Fri Sat Sun
 72  71  68  73  69  75  71
Mon Sun
 72  71

**Working with Vectors**

In [114]:
v1 <- c(1, 2, 3)
v2 <- c(5, 6, 7)
print(v1)
print(v2)

[1] 1 2 3
[1] 5 6 7

In [115]:
# Adding vectors
print(v1 + v2)
print(v2 + v1)

[1]  6  8 10
[1]  6  8 10

In [116]:
# Subtracting Vectors
print(v1 - v1)
print(v1 - v2)
print(v2 - v1)

[1] 0 0 0
[1] -4 -4 -4
[1] 4 4 4

In [117]:
# multiplying Vectors
v1 * v2

[1]  5 12 21

In [118]:
# Dividing Vectors
print(v1 / v2)
print(v2 / v1)

[1] 0.2000000 0.3333333 0.4285714
[1] 5.000000 3.000000 2.333333

**Functions with Vectors**

In [119]:
print(v1)
print(sum(v1))

[1] 1 2 3
[1] 6

In [120]:
v <- c(12, 45, 100, 2)
print(v)
print(sd(v))
print(var(v))
print(max(v))
print(min(v))
print(prod(v1))
print(prod(v2))

[1]  12  45 100   2
[1] 44.16918
[1] 1950.917
[1] 100
[1] 2
[1] 6
[1] 210

**Vector Indexing and Slicing**

In [121]:
v1 <- c(100, 200, 300)
v2 <- c('a', 'b', 'c')
print(v1)
print(v2)

[1] 100 200 300
[1] "a" "b" "c"

In [122]:
# Grab Second Element
print(v1[2])
print(v2[2])

[1] 200
[1] "b"

In [123]:
# Multiple Indexing
print(v1[c(1, 2)])
print(v2[c(2, 3)])
print(v2[c(1, 3)])

[1] 100 200
[1] "b" "c"
[1] "a" "c"

In [124]:
# Slicing
v <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(v)
print(v[2:4])
print(7:10)

 [1]  1  2  3  4  5  6  7  8  9 10
[1] 2 3 4
[1]  7  8  9 10

In [125]:
# Indexing With Names
v <- c(1, 2, 3, 4)
names(v) <- c('a', 'b', 'c', 'd')
print(v)

a b c d
1 2 3 4

In [126]:
print(v['a'])
print(v[c('a', 'c', 'b')])

a
1
a c b
1 3 2

In [127]:
# Comparison Operators And Selection
v

a b c d
1 2 3 4

In [128]:
v[v > 2]

c d
3 4

In [129]:
v > 2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [130]:
my.filter = v > 2

In [131]:
v[my.filter]

c d
3 4