# Creating a Matrix

In [1]:
1 : 10

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
v <- 1 : 10

In [3]:
v

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
matrix(v)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

In [5]:
matrix(data = v, nrow = 2)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [6]:
matrix(data = 1 : 12, byrow = FALSE, nrow = 4)

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [7]:
matrix(data = 1:12, nrow = 4, byrow = FALSE)

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

**Creating Matrices from Vectors**

In [8]:
goog <- c(450, 451, 452, 445, 468)
msft <- c(230, 231, 232, 236, 228)

In [9]:
stocks <- c(goog, msft)

In [10]:
stock.matrix <- matrix(data = stocks, nrow = 2, byrow = TRUE)

In [11]:
stock.matrix

     [,1] [,2] [,3] [,4] [,5]
[1,] 450  451  452  445  468
[2,] 230  231  232  236  228

**Naming Matrices**

In [12]:
days <- c('Mon', 'Tue', 'Wed', 'Thur', 'Fri')
st.names <- c('GOOG', 'MSFT')

In [13]:
colnames(x = stock.matrix) <- days
rownames(x = stock.matrix) <- st.names

In [14]:
stock.matrix

     Mon Tue Wed Thur Fri
GOOG 450 451 452 445  468
MSFT 230 231 232 236  228

# Matrix Arithmetic

In [20]:
mat <- matrix(data = 1:50, byrow = TRUE, nrow = 10)

In [24]:
print(mat)
# multiplication
print(2 * mat) 
# Reciprocal
print(1 / mat)
# Division
print(mat / 2)
# power or exponent
print(mat ^ 2)

      [,1] [,2] [,3] [,4] [,5]
 [1,]    1    2    3    4    5
 [2,]    6    7    8    9   10
 [3,]   11   12   13   14   15
 [4,]   16   17   18   19   20
 [5,]   21   22   23   24   25
 [6,]   26   27   28   29   30
 [7,]   31   32   33   34   35
 [8,]   36   37   38   39   40
 [9,]   41   42   43   44   45
[10,]   46   47   48   49   50
      [,1] [,2] [,3] [,4] [,5]
 [1,]    2    4    6    8   10
 [2,]   12   14   16   18   20
 [3,]   22   24   26   28   30
 [4,]   32   34   36   38   40
 [5,]   42   44   46   48   50
 [6,]   52   54   56   58   60
 [7,]   62   64   66   68   70
 [8,]   72   74   76   78   80
 [9,]   82   84   86   88   90
[10,]   92   94   96   98  100
            [,1]       [,2]       [,3]       [,4]       [,5]
 [1,] 1.00000000 0.50000000 0.33333333 0.25000000 0.20000000
 [2,] 0.16666667 0.14285714 0.12500000 0.11111111 0.10000000
 [3,] 0.09090909 0.08333333 0.07692308 0.07142857 0.06666667
 [4,] 0.06250000 0.05882353 0.05555556 0.05263158 0.05000000
 [5,] 0.04761905 0.04545455 0.04347826 0.04166667 0.04000000
 [6,] 0.03846154 0.03703704 0.03571429 0.03448276 0.03333333
 [7,] 0.03225806 0.03125000 0.03030303 0.02941176 0.02857143
 [8,] 0.02777778 0.02702703 0.02631579 0.02564103 0.02500000
 [9,] 0.02439024 0.02380952 0.02325581 0.02272727 0.02222222
[10,] 0.02173913 0.02127660 0.02083333 0.02040816 0.02000000
      [,1] [,2] [,3] [,4] [,5]
 [1,]  0.5  1.0  1.5  2.0  2.5
 [2,]  3.0  3.5  4.0  4.5  5.0
 [3,]  5.5  6.0  6.5  7.0  7.5
 [4,]  8.0  8.5  9.0  9.5 10.0
 [5,] 10.5 11.0 11.5 12.0 12.5
 [6,] 13.0 13.5 14.0 14.5 15.0
 [7,] 15.5 16.0 16.5 17.0 17.5
 [8,] 18.0 18.5 19.0 19.5 20.0
 [9,] 20.5 21.0 21.5 22.0 22.5
[10,] 23.0 23.5 24.0 24.5 25.0
      [,1] [,2] [,3] [,4] [,5]
 [1,]    1    4    9   16   25
 [2,]   36   49   64   81  100
 [3,]  121  144  169  196  225
 [4,]  256  289  324  361  400
 [5,]  441  484  529  576  625
 [6,]  676  729  784  841  900
 [7,]  961 1024 1089 1156 1225
 [8,] 1296 1369 1444 1521 1600
 [9,] 1681 1764 1849 1936 2025
[10,] 2116 2209 2304 2401 2500

**Comparison operators with matrices**

In [26]:
print(mat > 17)

       [,1]  [,2]  [,3]  [,4]  [,5]
 [1,] FALSE FALSE FALSE FALSE FALSE
 [2,] FALSE FALSE FALSE FALSE FALSE
 [3,] FALSE FALSE FALSE FALSE FALSE
 [4,] FALSE FALSE  TRUE  TRUE  TRUE
 [5,]  TRUE  TRUE  TRUE  TRUE  TRUE
 [6,]  TRUE  TRUE  TRUE  TRUE  TRUE
 [7,]  TRUE  TRUE  TRUE  TRUE  TRUE
 [8,]  TRUE  TRUE  TRUE  TRUE  TRUE
 [9,]  TRUE  TRUE  TRUE  TRUE  TRUE
[10,]  TRUE  TRUE  TRUE  TRUE  TRUE